<section class="hero-section" id="inicio">
  <div class="hero-content container">
    <div class="hero-text">
      <h2>Marlin Odontológico</h2>
      <p>Planos de saúde odontológico com custo acessível, feitos na medida certa!</p>
      <div class="price-info">
        <p>A partir de</p>
        <div class="price-display">
          <span class="currency">R$</span>
          <span class="main-price">30</span><span class="cents">,00</span>
        </div>
         <a href="#planos" class="primary-button button-as-link">Ver Planos!</a>
      </div>
    </div> <div class="hero-image">
      <img src="assets/hero-woman.PNG" alt="Mulher sorrindo">
    </div>
  </div> </section>